body{
  margin: 0px;
  padding-right: 10px;
  padding-bottom: 10px;
  
  background-image: url("img/bg.jpg");
}

#instructions{
  margin-left: 10px;
  margin-top: 10px;
  
  padding: 5px;
  
  border: solid 2px #000000;
  color: #ffffff;
  background-color: rgba(0,0,0,0.7);
}

#tabs{
  display: inline-block;
  vertical-align: top;
  
  margin: 0px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 0px;
  
  width: 384px;
}

#canvaswrapper{
  display: inline-block;
  vertical-align: top;
  
  margin: 0px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 0px;
}

.fig-canvas{
  width: 768px;
  height: 512px;
  border: solid 2px #000000;
}
